aioice
aiortc
altair
annotated-types
asttokens
attrs
audio-recorder-streamlit
av
backcall
beautifulsoup4
bleach
blinker
breq
cachetools
certifi
cffi
charset-normalizer
click
cryptography
decorator
defusedxml
dnspython
docopt
entrypoints
executing
fastjsonschema
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-crc32c
google-generativeai
grpcio
grpcio-status
gTTS
httplib2
idna
ifaddr
ipython
jedi
Jinja2
Js2Py
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mistune
nbclient
nbconvert
nbformat
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
pipreqs
pipwin
platformdirs
prompt_toolkit
proto-plus
protobuf
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
pydub
pyee
Pygments
pyjsparser
pylibsrtp
pyOpenSSL
pyparsing
PyPrind
pySmartDL
python-dateutil
python-dotenv
pyttsx3
pytz
pyzmq
referencing
requests
rich
rpds-py
rsa
six
smmap
soupsieve
SpeechRecognition
stack-data
streamlit
streamlit-chat
streamlit-webrtc
tenacity
tinycss2
toml
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
watchdog
wcwidth
webencodings
yarg
langchain_community
pypdf
langchain
openai
sentence_transformers
PyPDF2
pysqlite3-binary
pysqlite3
